body{
    background: #161616;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

h1,h2{
    font-size: 54px;
}

.tempUnit{
    color: #551A8B;
    cursor:pointer;
}



.tempHide{
    display: none;
} 